/* Styles */


.main{
    width:100%;
    height:1500px;
    display:flex;
    margin:0 auto;
    
}
        
 /* header */
 
header{
    width:100%;
    height:110px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(184,177,184,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(184,177,184,1);
    box-shadow: 0px 5px 5px 0px rgba(184,177,184,1);
    }
        
.logo{
    font-size:40px;
    font-weight:bold;
    color:darkred;
    display:flex;
    align-items:center;
}
        
 .logo img{
    margin-right:30px;
 }
    
.basket{
    display:flex;
    align-items:center;
    font-weight:bold;
    font-size:18px;
}
    
 .basket span{
    margin-left:20px;
}



#clear_cart{
    background-color: #82213E;
    border:none;
    padding:10px;
    margin-left:20px;
    color:white;
    border-radius:5px;
}

#clear_cart{
    cursor:pointer;
}
/* Caption */

.caption{
    width:100%;
    height:200px;
    position:absolute;
    top:140px;
    left:0px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
         
.caption .text{
    width:40%;
    font-size:44px;
    color:#82213E;
    text-align: center;
 }

.line1{
    width:300px;
    height:2px;
    background-color: darkblue;
}

 
.fon1{
    width:100%;
    height:1200px;
    position:absolute;
    top:360px;
    left:0px;
    background-image: url(../img/fon.jpg);
    background-size: cover;
    z-index:2;
}

.fon2{
    width:100%;
    height:1200px;
    position:absolute;
    top:360px;
    left:0px;
    background-color: black;
    opacity:0.8;
    z-index:3;
}


/* Food_tabs */
.food_tabs{
    position:absolute;
    top:360px;
    left:0px;
    width:100%;
    z-index:5;
}

.food_tabs input[type="radio"]{
    display:none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}

.food_tabs #tab_1, #tab_2, #tab_3, #tab_4, #tab_5, #tab_6{
    width:100%;
    display:none;
    position: absolute;
    top:99px;
    left:0px;
    z-index:4;
    height:900px;
    color:white;
}

.food_tabs > label{
    display: inline-flex;
    align-items: center;
    justify-content:space-around;
    margin: -1px -5px -1px 0;
    color:white;
    border:none;
    background:#A54964;
    cursor: pointer;
    height:100px;
    width:16.75%;
    font-size:22px;
    font-weight:bold;
}


label img{
    width:20%;
}
.food_tabs > input:checked + label {
    color: #000000;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}


#tab_1:checked ~ #tab_1,
#tab_2:checked ~ #tab_2,
#tab_3:checked ~ #tab_3,
#tab_4:checked ~ #tab_4,
#tab_5:checked ~ #tab_5,
#tab_6:checked ~ #tab_6
{ display: block;}




/* Ingredients */
.ingredients{
    position: absolute;
    top:-17px;
    left:0px;
    width:50%;
    height:900px;
    float:left;
    z-index:5;
}


.ingredient{
    width:25%;
    height:320px;
    background-color: white;
    border-radius: 10px;
    float:left;
    margin-top:8%;
    margin-left:5%;
}

.ingredient img{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredient p{
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    background-color: gray;
    text-align:center;
}


.ingredient :nth-child(3){
    margin-top:10px;
    color:black;
    font-size:20px;
}

.ingredient :nth-child(4){
    margin-top:-20px;
    color:white;
}

.symbol{
    color:white;
}

.add_ingredient{
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border:none;
    font-size:20px;
    cursor:pointer;
    background-color: white;
    border-radius:8px;
    color:#82213E;
    font-weight: bold;
}


/* Base */
.base{
    position: absolute;
    top:500px;
    right:0px;
    width:50%;
    height:400px;
    z-index:5;
}

.base img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:58%;
}

.image_ingredients{
    position: absolute;
    top:500px;
    right:0px;
    width:50%;
    height:400px;
    z-index:6;
}

.image_ingredients img{
    visibility: hidden;
    position: absolute;
    left:20%;
    margin-left: auto;
    margin-right: auto;
    width:60%;
   
}


/* Order */
#order{
    width:35%;
    background-color: #A54964;
    position: absolute;
    top:960px;
    left:60%;
    z-index:10;
    border-radius:10px;
    display: flex;
    flex-direction: column;

}


.order_caption{
    width:100%;
    height:10%;
    text-align: center;
    background-color: gray;
    color:white;
    font-size:20px;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



#add_to_cart{
    margin-left:2%;
    border-radius:6px;
    border:none;
    padding:7px;
    font-weight: bold;
    color:#82213E;
}


#add_to_cart:hover{
    cursor: pointer;
}

#order_sum{
    width:100%;
}


.line{
    width:90%;
    height:1px;
    background-color: black;
    margin-left:5%;
}

#sum{
    width:100%;
    height:10%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.pizza_weight{
    width:50%;
}

.pizza_sum{
    width:50%;
}

.order_base{
    width:100%;
    margin-top:3%;
    margin-bottom: 3%;
}



.order_base span{
    width:18%;
    float:left;
    padding-left:3%;
    color:black;
    text-align:center;
}

.order_base .price{
    text-align:left;
}


.new_ingredient{
    width:100%;
    margin-top:3%;
    margin-bottom: 3%;
}

.new_ingredient span{
    width:18%;
    float:left;
    text-align:left;
    padding-left:3%;
    color:black;
    text-align:center;
}

.new_ingredient .price{
    text-align:left;
}


.btn_remove{
    background: white;
    color:darkred;
    border:none;
    border-radius: 5px;
    padding:5px;
    margin-right:3%;
}

.btn_remove:hover{
    cursor:pointer;
}



/* Ingredient button remove */

.btn_delete{
    width:50%;
    display: none;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border:none;
    font-size:20px;
    cursor:pointer;
    background-color: white;
    border-radius:8px;
    color:darkblue;
    font-weight: bold;
}


.block_amount{
    width:30px;
    height:20px;
    border-radius: 8px;
    display: none;
    margin-top:2%;
    margin-left:77%;
    background-color: green;
    text-align: center;
    font-family: bold;
}


/* footer */

footer{
    width:100%;
    height:60px;
    position:absolute;
    top:1560px;
    left:0px;
    display: flex;
    justify-content: flex-start;
    font-size:16px;
    background-color: gray;
    color:white;
}


footer span{
    padding-top:20px;
    margin-left:1%;
}


