/* Styles */


.main{
    width:100%;
    height:1500px;
    display:flex;
    margin:0 auto;
    
}
        
 /* header */
 
header{
    width:100%;
    height:110px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(184,177,184,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(184,177,184,1);
    box-shadow: 0px 5px 5px 0px rgba(184,177,184,1);
    }
        
.logo{
    font-size:40px;
    font-weight:bold;
    color:darkred;
    display:flex;
    align-items:center;
}
        
 .logo img{
    margin-right:30px;
 }
    
.basket{
    display:flex;
    align-items:center;
    font-weight:bold;
    font-size:18px;
}
    
 .basket span{
    margin-left:20px;
}


/* Caption */

.caption{
    width:100%;
    height:200px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    position:absolute;
    top:140px;
    left:0px;
}
         
.caption span{
    font-size:44px;
    color:#82213E;
 }

.line{
    width:300px;
    height:1px;
    background-color:darkblue;
 }


 
.fon1{
    width:100%;
    height:1000px;
    position:absolute;
    top:360px;
    left:0px;
    background-image: url(../img/fon.jpg);
    background-size: cover;
    z-index:2;
}

.fon2{
    width:100%;
    height:1000px;
    position:absolute;
    top:360px;
    left:0px;
    background-color: black;
    opacity:0.8;
    z-index:3;
}


/* Food_tabs */
.food_tabs{
    position:absolute;
    top:360px;
    left:0px;
    width:100%;
    z-index:5;
}

.food_tabs input[type="radio"]{
    display:none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}

.food_tabs #tab_1, #tab_2, #tab_3, #tab_4, #tab_5, #tab_6{
    width:100%;
    display:none;
    position: absolute;
    top:99px;
    left:0px;
    z-index:4;
    height:900px;
    color:white;
}

.food_tabs > label{
    display: inline-flex;
    align-items: center;
    justify-content:space-around;
    margin: -1px -5px -1px 0;
    color:white;
    border:none;
    background:#A54964;
    cursor: pointer;
    height:100px;
    width:16.75%;
    font-size:22px;
    font-weight:bold;
}


label img{
    width:20%;
}
.food_tabs > input:checked + label {
    color: #000000;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}


#tab_1:checked ~ #tab_1,
#tab_2:checked ~ #tab_2,
#tab_3:checked ~ #tab_3,
#tab_4:checked ~ #tab_4,
#tab_5:checked ~ #tab_5,
#tab_6:checked ~ #tab_6
{ display: block;}




/* Ingredients */
.ingredients{
    position: absolute;
    top:-17px;
    left:0px;
    width:50%;
    height:900px;
    float:left;
    z-index:5;
}


.ingredient{
    width:25%;
    height:300px;
    background-color: white;
    border-radius: 10px;
    float:left;
    margin-top:8%;
    margin-left:5%;
}

.ingredient img{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredient p{
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    background-color: gray;
    text-align:center;
}


.ingredient :nth-child(2){
    margin-top:10px;
    color:black;
    font-size:20px;
}

.ingredient :nth-child(3){
    margin-top:-20px;
}



.add_ingredient{
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border:none;
    font-size:20px;
    cursor:pointer;
    background-color: white;
    border-radius:8px;
    color:#82213E;
    font-weight: bold;
}


/* Base */
.base{
    position: absolute;
    top:-17px;
    right:0px;
    width:50%;
    height:900px;
    float:left;
    z-index:5;
}


.base img{
    width:60%;
    position: absolute;
    top:10%;
}